@using PDAEstimator_Domain.Entities;

@foreach (var menu in ViewBag.UserRolePermissionMenu)
{
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>@menu.MenuName</label>
            </div>
        </div>
         @{
            List<UserRolePermissions> userRolePermissions = new List<UserRolePermissions>();
            userRolePermissions = ViewBag.UserRolePermissions;
        }
        @foreach (var RolePermission in userRolePermissions.Where(x => x.UserRolePermissionMenuId == menu.UserRolePermissionMenuId))
        {
            <div class="col-sm-2">
                <div class="form-check">
                    @if (RolePermission.IsPermission == true && ViewBag.RollId != 0)
                    {
                        <input type="checkbox" class="form-check-input" id="UserRolePermission_@RolePermission.UserRolePermissionId" checked>
                        <label class="form-check-label" for="UserRolePermission_@RolePermission.UserRolePermissionId">@RolePermission.UserRolePermission</label>
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" id="UserRolePermission_@RolePermission.UserRolePermissionId" onchange="RolePermission_click(@RolePermission.UserRolePermissionId)" checked="@RolePermission.IsPermission">
                        <label class="form-check-label" for="UserRolePermission_@RolePermission.UserRolePermissionId">@RolePermission.UserRolePermission</label>
                    }
                    @* <input type="checkbox" class="form-check-input" id="RolePermission_@RolePermission.UserRolePermissionId" onchange="RolePermission_click(@RolePermission.UserRolePermissionId)" checked="@RolePermission.IsPermission">
                    <label class="form-check-label" for="PDAEstimatorView">@RolePermission.UserRolePermission</label> *@
                </div>
            </div>

        }
    </div>
}