@model IEnumerable<PDAEstimator_Domain.Entities.Notes>
<style>
    table td {
        width: 110px;
        word-wrap: break-word;
    }
</style>
<table class="table table-bordered table-striped" id="NotesNameTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sequnce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sequnce)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="badge badge-success">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">In Active</span>
                    }
                    @*@Html.DisplayFor(modelItem => item.CargoTypeStatus)*@
                </td>

                @using PDAEstimator_Domain.Entities;
                @if (ViewBag.UserPermissionModel != null)
                {
                    List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                    List<UserRoleName> userRoleName = new List<UserRoleName>();
                    userPermissionRights = ViewBag.UserPermissionModel;
                    userRoleName = ViewBag.UserRoleName;
                    <td>
                        @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "Notes" && x.UserRolePermission == "Edit").Count() > 0))
                        {

                            <a class="btn btn-info btn-sm" onclick="editNote(@item.ID)">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                        }
                        @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "Notes" && x.UserRolePermission == "Delete").Count() > 0))
                        {

                            <a class="btn btn-danger btn-sm" onclick="deleteNote(@item.ID)">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        }
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/plugins/datatables/jquery.datatables.js"></script>
<script src="~/plugins/datatables/jquery.datatables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>


    $(function () {
        $("#NotesNameTable").DataTable({
           
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#NotesNameTable_wrapper .col-md-6:eq(0)');

        //$('#portDetailsTable').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "responsive": true,
        //});
    });</script>
