@model PDAEstimator_Domain.Entities.AdminDashboard
@using PDAEstimator_Domain.Entities;
<style>
    table td {
        /* width: 110px; */
        word-wrap: break-word;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row" style="padding-top: 10px">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="customer">@ViewBag.CustomerCount</h3>
                        <p>Total Customers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="/Admin/Customer/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.pendingCustomer</h3>
                        <p>Pending Customer</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="/Admin/Customer/Index?Parm2=pending" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.PDAs</h3>

                        <p>Total PDA</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-calculator"></i>
                    </div>
                    <a href="/Admin/PDAEstimator/Index?param2=PDA" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.lastThrityDaysPDAs</h3>
                        <p>
                            Total Last 30 Days PDA
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/Admin/PDAEstimator/Index?param2=PDA" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>


        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title"><b>Latest PDA</b></h3>

                        @*                         <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                        </button>
                        </div> *@
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body p-10">
                        @* <div class="table-responsive"> *@
                            <table class="table table-bordered table-striped" id="PDAEstimator">
                                <thead>
                                    <tr>
                                        <th style="width:150px;">CustomerCompanyName</th>
                                        <th style="width:150px;">Port Name</th>
                                        <th style="width:150px;">Cargo Name</th>
                                        <th style="width:150px;">Cargo Qnty</th>
                                        <th style="width:150px;">Created By</th>
                                        <th style="width:150px;">Creation date</th>
                                        <th style="width:200px;"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.pDAEstimatorLists)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerCompanyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PortName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CargoName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CargoQty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreationDate)
                                            </td>
                                            @if (ViewBag.UserPermissionModel != null)
                                            {
                                                List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                                                List<UserRoleName> userRoleName = new List<UserRoleName>();
                                                userPermissionRights = ViewBag.UserPermissionModel;


                                                userRoleName = ViewBag.UserRoleName;

                                                <td min-width="230px">
                                                    @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "PDA Estimator" && x.UserRolePermission == "ViewPDA").Count() > 0))
                                                    {
                                                        <a class="btn btn-warning btn-sm" href="@Url.Action("PDAEstimatorDonwload", "PDAEstimator", new { id = @item.PDAEstimatorID})" target="_blank">
                                                            <i class="fas fa-download"></i> Download
                                                        </a>
                                                        <a class="btn btn-success btn-sm" href="@Url.Action("PDAEstimator", "PDAEstimator", new { id = @item.PDAEstimatorID})" target="_blank">
                                                            <i class="fas fa-eye"></i> View
                                                        </a>
                                                    }
                                                </td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        @* </div> *@
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        @*                         <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> *@
                    </div>
                    <!-- /.card-footer -->
                </div>

            </section>
            <section class="col-lg-12 connectedSortable">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title"><b>Pending Customer</b></h3>

                        @*                         <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                        </button>
                        </div> *@
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body p-10">
                        @* <div class="table-responsive"> *@
                            <table class="table table-bordered table-striped" id="PendingCustomer">
                                <thead>
                                    <tr>
                                        <th style="width:150px;">Company Name</th>
                                        <th style="width:150px;">Primary Company</th>
                                        <th style="width:150px;">Secondary Company</th>
                                        <th style="width:150px;">Status</th>
                                        <th style="width:150px;">Creation date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.customerList)
                                    {
                                        <tr>
                                            <td style="min-width:150px">
                                                @Html.DisplayFor(modelItem => item.Company)
                                            </td>

                                            <td style="min-width:150px">
                                                @Html.DisplayFor(modelItem => item.PrimaryCompany)
                                            </td>

                                            <td style="min-width:250px">
                                                @Html.DisplayFor(modelItem => item.SecondaryCompany)
                                            </td>
                                            <td style="min-width:150px">
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                        <td style="min-width:150px"> @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                      @*   </div> *@
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        @*                         <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> *@
                    </div>
                    <!-- /.card-footer -->
                </div>

            </section>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section Scripts
{

    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/datatables/jquery.datatables.js"></script>
    <script src="~/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#PDAEstimator").DataTable({
                order: [[0, 'desc']],
                scrollX: true,
                scrollCollapse: true,
                scrollY: '300px',
                fixedHeader: {
                    header: true,
                },
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": [{
                    extend: 'excel',
                    text: 'Export Results',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: 'th:not(:last-child)'
                    }
                }]
            }).buttons().container().appendTo('#PDAEstimator_wrapper .col-md-6:eq(0)');

            $("#PendingCustomer").DataTable({
                order: [[0, 'desc']],
                scrollX: true,
                scrollCollapse: true,
                scrollY: '300px',
                fixedHeader: {
                    header: true,
                },
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": [{
                    extend: 'excel',
                    text: 'Export Results',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: 'th:not(:last-child)'
                    }
                }]
            }).buttons().container().appendTo('#PendingCustomer_wrapper .col-md-6:eq(0)');

        });


    </script>

}

