<!DOCTYPE html>
@{
    Layout = "";
}
@model PDAEstimator_Domain.Entities.Customer

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PDAEstimator | Register </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
    
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="width:600px">
        @*<div class="login-logo">
        <a href="~/index2.html"><b>U & I Holidays</b></a>
        </div>*@
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>PDA </b>Estimator</a>
            </div>
            <div class="card-body">
                <p id="DefaultText" class="login-box-msg">Register Request</p>
                <p class="login-box-msg" style="display:none; color:green; font-weight:600" id="Successed"> Company Saved Successfully</p>
                <p class="login-box-msg" style="display:none; color:red; font-weight:600" id="Failed"> Company Can't Saved</p>

                <div class="input-group mb-2">
                    <div class="col-12">
                        <label for="Company">Company Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="_Company" placeholder="Company">
                    </div>

                </div>

                <div class="input-group mb-2">

                    <div class="col-6">
                        <label for="Salutation">Salutation<span class="text-danger">*</span></label>
                        <select class="form-control" id="Salutation">
                            <option value="">Please Select</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr</option>
                            <option value="Captain">Captain</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="FirstName">First Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                    </div>
                </div>
                <div class="input-group mb-2">

                    <div class="col-6">
                        <label for="LastName">Last Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                    </div>
                    <div class="col-6">
                        <label for="Designation">Designation<span class="text-danger">*</span></label>
                        @Html.DropDownList("Designation", new SelectList(ViewBag.Designations, "DesignationId", "DesignationName"), "Please Select", new { @class = "form-control" })

                    </div>
                </div>
                <div class="input-group mb-2">

                    <div class="col-6">
                        <label for="Address1">Address Line 1<span class="text-danger">*</span></label>
                        <textarea type="text" cols="2" rows="3" class="form-control" id="Address1" placeholder="Address Line 1"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="Country">Country<span class="text-danger">*</span></label>
                        @Html.DropDownList("Country", new SelectList(ViewBag.Country, "ID", "CountryName"), "Please Select", new { @class = "form-control" })

                    </div>
                </div>
                <div class="input-group mb-2">

                    <div class="col-6" id="Countrydrop">
                        <label for="State">State@* <span class="text-danger">*</span> *@</label>
                        @Html.DropDownList("State", new SelectList(ViewBag.State, "ID", "StateName"), "Please select", new { @class = "form-control", @onchange = "callChangefunc(this.value)" })

                    </div>
                    <div class="col-6" id="Statedrop">
                        <label for="PortName">City@* <span class="text-danger">*</span> *@</label>
                        @Html.DropDownList("City", new SelectList(ViewBag.City, "ID", "CityName"), "Please select", new { @class = "form-control" })

                    </div>


                </div>
                <div class="input-group mb-2">
                    <div class="col-6">
                        <label for="Mobile">Mobile Number<span class="text-danger">*</span></label>
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DropDownList("CountryCode", new SelectList(ViewBag.CountryCode, "CountryCode"), new { @class = "form-control", style = "width:80px; padding: 0px;" })
                            </div>
                            <div class="col-sm-7">
                                <input type="tel" class="form-control" id="Mobile" maxlength="11" placeholder="Mobile Number">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="Email">Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="Email" placeholder="Email" oninput="validateEmail(this.value)" onChange="validateEmail(this.value)">
                        <span id="emailError" style="color: red;"></span>
                    </div>
                </div>
                @*   <div class="input-group mb-2">
                <div class="col-6"></div>
                <div class="col-6"></div>
                </div> *@
                @*   <div class="input-group mb-2">
                <div class="">
                <label for="PrimaryCompany">Primary Company<span class="text-danger">*</span></label>
                @Html.DropDownList("PrimaryCompany", new SelectList(ViewBag.PrimaryCompany, "CompanyId", "CompanyName"), "Please Select", new { @class = "form-control" })
                </div>

                </div>

                <div class="input-group mb-2">
                <div class="">
                <label for="SecondaryCompany">Secondary Company</label>
                @Html.ListBox("SecondaryCompany", new MultiSelectList(ViewBag.SecondaryCompany, "CompanyId", "CompanyName"), new { @class = "form-control" })
                </div>
                </div>
                <div class="input-group ">
                <div class="col-12" id="BeneficiaryBank">
                <label for="Bank">Banks<span class="text-danger">*</span></label>
                @Html.DropDownList("Beneficiary", new SelectList(ViewBag.BankData, "BankId", "Bank_Code"), "Please Select", new { @class = "form-control" })
                </div>
                </div> *@
            </div>

            <hr />

            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <a asp-controller="Login" asp-action="Index">Back To Login!!!</a>
                        </div>
                   
                    </div>
                    <div class="col-4">
                        <button type="submit" onclick="RegisterUserSave()" class="btn btn-primary">Submit Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")

    <script>

        function callChangefunc(val) {
            var Stateid = val;

            var portdetails;
            portdetails = {
                "State": Stateid,
                "City": $('#City').val(),
            }

            $.ajax({

                type: "GET",
                url: "/Admin/PortDetails/StateOnchange",
                data: portdetails,
                dataType: "HTML",
                success: function (data) {

                    $("#Statedrop").html(data);

                },
                error: function () {
                }
            });

        }
        function validateEmail(Email) {
            var emailRegex = /^[a-zA-Z0-9]+[-.,a-zA-Z0-9]+@@[-.,a-zA-Z.]+\.[a-zA-Z]{2,}$/;

            var emailError = document.getElementById('emailError');

            if (emailRegex.test(Email)) {
                emailError.textContent = '';
            } else {
                emailError.textContent = 'Enter valid Email';
                emailError.style.color = 'red';
            }
        }

        $(document).ready(function () {

            $("#PrimaryCompany").change(function () {
                debugger;
                var compnayId = $('option:selected', this).val();

                var Banks;
                Banks = {
                    "PrimaryCompanyId": compnayId,
                    "Beneficiary_Bank_Name": $("#Beneficiary").val()
                }
                $.ajax({
                    type: "GET",
                    url: "/Admin/Customer/PrimaryCompneySelected",
                    data: Banks,
                    dataType: "HTML",
                    success: function (data) {
                        $("#BeneficiaryBank").html(data);

                    },
                    error: function () {
                    }
                });
            })

            $("#Country").change(function () {
                debugger;
                var countryid = $('option:selected', this).val();

                var portdetails;
                portdetails = {
                    "Country": countryid,
                    "State": $("#State").val(),
                    "City": $('#City').val(),

                }

                $.ajax({
                    type: "GET",
                    url: "/RegisterUser/CountryOnchange",
                    data: portdetails,
                    dataType: "HTML",
                    success: function (data) {

                        $("#Countrydrop").html(data);

                    },
                    error: function () {
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "/RegisterUser/CountryOnChangeforCountryCode",
                    data: portdetails,

                    success: function (data) {
                        $('#CountryCode').val(data.code),
                            $('#AlterCountryCode').val(data.code)


                    },
                    error: function () {
                    }
                });
            });
        });



        function RegisterUserSave() {
            var Customer;
            debugger;
            Customer = {
                // "CustomerId": $('#CustomerId').val(),
                "Company": $('#_Company').val(),
                "Status": "Pending For Approval",
                // "PrimaryCompanyId": $('#PrimaryCompany').val(),
                // "SecondaryCompanyId": $('#SecondaryCompany').val(),
                // "BankID": $('#Beneficiary').val(),

                "Salutation": $('#Salutation').val(),
                "FirstName": $('#FirstName').val(),
                "LastName": $('#LastName').val(),
                "Designation": $('#Designation').val(),
                "Address1": $('#Address1').val(),
                "Company": $('#_Company').val(),
                "City": $('#City').val(),
                "State": $('#State').val(),
                "Country": $('#Country').val(),
                "Email": $('#Email').val(),
                "Mobile": $('#Mobile').val(),
                "CountryCode": $('#CountryCode').val(),
            }

            
            if ($('#_Company').val() == "") {
                toastr.error("Please enter customer's company.", 'Error Alert');
                $('#_Company').css("border-color", "Red");
            }
            else if ($('#Salutation').val() == "") {
                toastr.error("Please select Salutation.", 'Error Alert');
                $('#Salutation').css("border-color", "Red");
            }

            else if ($('#FirstName').val() == "") {
                toastr.error("Please primary FirstName.", 'Error Alert');
                $('#FirstName').css("border-color", "Red");
            }
            else if ($('#LastName').val() == "") {
                toastr.error("Please primary LastName.", 'Error Alert');
                $('#LastName').css("border-color", "Red");
            }
            else if ($('#Designation').val() == "") {
                toastr.error("Please primary Designation.", 'Error Alert');
                $('#Designation').css("border-color", "Red");
            }
            else if ($('#Address1').val() == "") {
                toastr.error("Please primary Address1.", 'Error Alert');
                $('#Address1').css("border-color", "Red");
            }
            else if ($('#Country').val() == "") {
                toastr.error("Please primary Country.", 'Error Alert');
                $('#Country').css("border-color", "Red");
            }
            else if ($('#State').val() == "") {
                toastr.error("Please primary State.", 'Error Alert');
                $('#State').css("border-color", "Red");
            }
            else if ($('#City').val() == "") {
                toastr.error("Please primary City.", 'Error Alert');
                $('#City').css("border-color", "Red");
            }
            else if ($('#Email').val() == "") {
                toastr.error("Please primary Email.", 'Error Alert');
                $('#Email').css("border-color", "Red");
            }
            else if ($('#Mobile').val() == "") {
                toastr.error("Please primary Mobile.", 'Error Alert');
                $('#Mobile').css("border-color", "Red");
            }
            else if ($('#CountryCode').val() == "") {
                toastr.error("Please primary CountryCode.", 'Error Alert');
                $('#CountryCode').css("border-color", "Red");
            }

            else {
                $.ajax({
                    type: "POST",
                    url: "/RegisterUser/RegisterUserSave",
                    data: Customer,
                    success: function (data) {
                        if (data.success) {
                            $("#Successed").show();

                        }
                    },
                    error: function () {
                        $("#Failed").show();
                    }
                });
                $('#_Company').val("");
                $('#PrimaryCompany').val("");
                $('#Beneficiary').val("");
                $('#SecondaryCompany').val("");
                $('#Salutation').val("");
                $('#FirstName').val("");
                $('#LastName').val("");
                $('#Designation').val("");
                $('#Address1').val("");
                $('#City').val("");
                $('#State').val("");
                $('#Country').val("");
                $('#Email').val("");
                $('#AlternativeEmail').val("");
                $('#Mobile').val("");
            }
        }
    </script>
    


</body>
</html>